@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: url("@/assets/fonts/Montserrat-Black.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-BlackItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("@/assets/fonts/Montserrat-Bold.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-BoldItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: url("@/assets/fonts/Montserrat-ExtraBold.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("@/assets/fonts/Montserrat-ExtraLight.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-ExtraLightItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("@/assets/fonts/Montserrat-Light.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-LightItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("@/assets/fonts/Montserrat-Medium.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-MediumItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("@/assets/fonts/Montserrat-Regular.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-Italic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("@/assets/fonts/Montserrat-SemiBold.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-SemiBoldItalic.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("@/assets/fonts/Montserrat-Thin.ttf") format("woff2"),       
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("@/assets/fonts/Montserrat-ThinItalic.ttf") format("woff2"),
  }
  