/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-weight: 500;
}

html,
body {
  height: 100%;
  background-color: #393939;
  color: white;
}


#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  // margin-top: 68px;
  padding: 68px 0 35px;
  flex: 0 0 auto;
  background-color: #121212;
}

.header-side {
  margin-bottom: 35px;
}

.main {
  flex: 1 0 auto;
}
$fz-title: 32px;
$fz-heading: 24px;
$fz-subheading: 18px;
$fz-body: 14px;
$fz-monospaced: 12px;

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("@/assets/fonts/Montserrat-Black.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-BlackItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("@/assets/fonts/Montserrat-Bold.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-BoldItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("@/assets/fonts/Montserrat-ExtraBold.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("@/assets/fonts/Montserrat-ExtraLight.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-ExtraLightItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("@/assets/fonts/Montserrat-Light.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-LightItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("@/assets/fonts/Montserrat-Medium.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-MediumItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-Italic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("@/assets/fonts/Montserrat-SemiBold.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-SemiBoldItalic.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  src: url("@/assets/fonts/Montserrat-Thin.ttf") format("woff2"),       
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("@/assets/fonts/Montserrat-ThinItalic.ttf") format("woff2"),
}

